html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:aqua
}

header {
    background-color: navy
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to top, #c72092, #6c14d0);
}

.hover-effect:hover {
    color: #f8b400; /* Màu b?n mu?n khi di chu?t vào */
    transition: color 0.3s ease; /* Hi?u ?ng chuy?n ð?i màu */
}
.btn-outline-light:hover {
    color: #f8b400; /* Màu b?n mu?n khi di chu?t vào */
    border-color: #f8b400; /* Màu biên b?n mu?n khi di chu?t vào */
}

    .btn-outline-light:hover i {
        color: #f8b400; /* Màu bi?u tý?ng b?n mu?n khi di chu?t vào */
        transition: color 0.3s ease; /* Hi?u ?ng chuy?n ð?i màu */
    }
